/***********************************************************************
* (c) Copyright HCL Technologies Ltd. 2019.  MIT Licensed!
************************************************************************/

#score {
  font-size:28px;  
  fill: chocolate;
  stroke: crimson;    
}
#drawing-container {
  position: relative;
  text-align: center;  
}

#drawing {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
}
#drawing.thick-frame {
  border: 5px solid gold;
}

#timer {
  position: absolute;
  top: 8px;
  left: 16px;  
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  line-height: 100px;
  text-align: center;
  background: #2f6627
}

.redButton {
	background-color:#d13063;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:4px solid #010d02;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:28px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.redButton:hover {
	background-color:#f20e0e;
}
.redButton:active {
	position:relative;
	top:1px;
}

.redButton[data-state="disabled"] {
  background-color:#0c0c0c;
}

#logo > img { 
  height: 10%;
  width: 10%;
}

#logo > div {  
  white-space: nowrap;
  overflow-x: auto;
}
#logotext {
  text-shadow: 2px 2px 0 #F3F3F3, 2px 2px 0px rgba(25,164,49,0);
  color: #0066B3;
  background: #FFFFFF;
  font-size:28px;  
  display: inline-block;
}

#hcl {
  float: right;
  display: inline-block;
  color: #0066B3;
}

.popup {
  justify-self: stretch;  
  align-self: center;
}

.popup .popuptext {
  visibility: hidden;  
  white-space: nowrap;
  font-size:28px; 
  background-color: #0066B3;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 8px;  
  z-index: 1;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Fade in the popup */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#button-container {
  display: grid;
  grid-template-columns: 415px auto 150px;
  grid-gap: 10px;
  padding: 10px;
}

#button-div {  
  justify-self: start;
  align-self: center;
}

#score-div {  
  justify-self: start;
}

#score-container {
  height: 80px;
  width: 168px;
}

#recog-words-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}
/*
#recog-words-container > div {
  background-color: rgba(185, 21, 21, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}*/

.flip-card {
  background-color: transparent;
  /*width: 300px;*/
  height: 100px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-front img {
  width:100px;
  height:100px;
}

.flip-card-back {
  background-color: #f20e0e;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back.correct {
  background-color: #2f6627;  
}

#failedPopup {
  width: 500px;
  height: 110px;
  border: 5px solid red;
  text-align: left;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left:-250px;
  margin-top:-100px;   
  background:rgba(255,255,255,0.3); /* semi transparent background */
  border-radius: 10%;
  font-size: 54px;
  font-family: Courier New;
  color: red;
}

#hiscorePrompt {
  width: 500px;
  height: 110px;
  border: 5px solid Black;
  text-align: left;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left:-250px;
  margin-top:-200px;   
  background:rgba(255,255,255,0.8); /* semi transparent background */
  border-radius: 10%;
  box-shadow:
      inset 0 0 50px #fff,      /* inner white */
      inset 20px 0 80px #f0f,   /* inner left magenta short */
      inset -20px 0 80px #0ff,  /* inner right cyan short */
      inset 20px 0 300px #f0f,  /* inner left magenta broad */
      inset -20px 0 300px #0ff, /* inner right cyan broad */
      0 0 50px #fff,            /* outer white */
      -10px 0 80px #f0f,        /* outer left magenta */
      10px 0 80px #0ff; /* outer right cyan */
}

#hiscorePrompt span {
  font-size:28px; 
  color: white;
  margin-left: 100px;
}

#hiscorePrompt p {
  font-size:20px; 
  color: white;
}